        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">           
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">--Main</li>
                    <li>
                        <a href="/dashboard">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/clients">
                            <i class="fas fa-users"></i>
                            <span>Clients</span>
                        </a>
                    </li>
                    <li>
                        <a href="/products">
                            <i class="fas fa-shopping-cart"></i>
                            <span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="/services">
                            <i class="fas fa-wrench"></i>
                            <span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a href="/os">
                            <i class="fas fa-clipboard-list"></i>
                            <span>Service Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="/sales">
                            <i class="fas fa-dollar-sign"></i>
                            <span>Sales</span>
                        </a>
                    </li>
                    <li>
                        <a href="/warranty-terms">
                            <i class="fas fa-book"></i>
                            <span>Warranty Terms</span>
                        </a>
                    </li>
                    <li>
                        <a href="/files">
                            <i class="fas fa-hdd"></i>
                            <span>Files</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fas fa-hand-holding-usd"></i>
                            <span>Financial</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/financial/entries">Entries</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fas fa-chart-pie"></i>
                            <span>Reports</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/reports/clients">Clients</a>
                            </li>
                            <li>
                                <a href="/reports/products">Products</a>
                            </li>
                            <li>
                                <a href="/reports/services">Services</a>
                            </li>
                            <li>
                                <a href="/reports/os">Service Orders</a>
                            </li>
                            <li>
                                <a href="/reports/sales">Sales</a>
                            </li>
                            <li>
                                <a href="/reports/financial">Financial</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fas fa-cogs"></i>
                            <span>Settings</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/settings/users">Users</a>
                            </li>
                            <li>
                                <a href="/settings/issuer">Issuer</a>
                            </li>
                            <li>
                                <a href="/settings/permissions">Permissions</a>
                            </li>

                            
                            <li>
                                <a href="/settings/audit">Audit</a>
                            </li>
                            <li>
                                <a href="/settings/emails">E-mais</a>
                            </li>
                            <li>
                                <a href="/settings/backup">Backup</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->